<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sport Store</title>
    <link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.css" />
</head>
<body>
    <div class="p-2">
        @RenderBody()
    </div>
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
</body>
</html>
